---
layout: default
---
<div class="bg-gradient-to-br from-primary to-accent text-white relative z-10">
  <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto p-8">
    <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight mt-10 mb-8 sm:mt-14 sm:mb-10">
      {{ page.main_title }}
    </h1>

    <p class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">{{ page.sub_title }}
    </p>

  </div>
</div>

<div class="prose max-w-screen-lg xl max-w-screen-xl mx-auto p-8">
  {{ content }}
</div>
